<!DOCTYPE html>
<html>
  <head>
    {%- auth0:head -%}
    <link rel="shortcut icon" href="https://www.givingwhatwecan.org/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="https://www.givingwhatwecan.org/favicons/favicon-96x96.png" sizes="96x96">
    {% if application.name contains "Giving" %}
    <style>
      /* GWWC LOGO: hide img + abuse h1 to show GWWC logo */
      #prompt-logo-center {
        display: none;
      }
      h1 {
        text-indent: -9999999px;
        font-size: 0px !important;
      }
      h1:after {
        content: "";
        display: block;
        width: 100%;
        height: 100px;
        margin: var(--logo-alignment);
        background-image: url(https://www.givingwhatwecan.org/email/gwwc_logo.png);
        background-repeat: no-repeat !important;
        background-size: contain !important;
      }
    </style>
    {% endif %}
    <style>
      .gwwc-layout {
        display: flex;
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      @media (min-width: 480px) {
        .gwwc-layout {
          width: 100%;
        }
      }
      @media (min-width: 1070px) {
        .gwwc-layout {
          padding: 80px 0;
        }
        .gwwc-layout-contact {
          flex-direction: column;
          align-items: center;
        }
      }
      .widget-wrapper {
        width: 100%;
      }
      @media (min-width: 480px) {
        .widget-wrapper {
          width: 400px;
        }
      }
      @media (max-width: 480px) {
        ._prompt-box-outer {
          width: 100vw;
        }
      }
      .secondary-box {
        width: 100%;
        background-color: #dae0e2;
        padding: 10px 16px;
        border-radius: 0;
        text-align: center;
        position: relative;
        z-index: 5;
      }
      .contact-us {
        margin-bottom: 0;
      }
      @media (min-width: 480px) {
        .secondary-box {
          margin-top: 20px;
          width: 400px;
          border-radius: 5px;
        }
        .contact-us {
          margin-bottom: 20px;
        }
      }
    </style>
  </head>
  <body>
    <div class="gwwc-layout gwwc-layout-contact">
      <div class="widget-wrapper">
        {%- auth0:widget -%}
      </div>
      <div class="secondary-box">
        By creating a <a href="https://www.givingwhatwecan.org/" target="_blank" rel="noreferrer">Giving What We Can</a> account,
        you agree to the <a href="https://www.givingwhatwecan.org/terms" target="_blank" rel="noreferrer">Terms of Use</a> and <a href="https://www.givingwhatwecan.org/privacy" target="_blank" rel="noreferrer">Privacy Policy</a>.
      </div>
      <div class="secondary-box contact-us">
        Having issues? <strong><a href="https://www.givingwhatwecan.org/about-us/contact-us">Get in touch</a></strong>.
      </div>
    </div>
  </body>
</html>
